/* /* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

* {
    font-family: 'Cairo', sans-serif;
    /* box-sizing: border-box;
    scroll-behavior: smooth; */
    margin: 0px;
    padding: 0px;
}

header {
    background-color: gray;
    width: auto;
    height: 50px;
    position:sticky;
    top: 0px;
    z-index: 999;
    justify-content: space-between;
    display: flex;
    padding: 10px 100px;
    align-items: center;
}


#branding {
    position: relative;
    top: 25px;
}

.logo {
    width: 50px;
}

header h1 {
    font-size: 1.8em;
    font-weight: 700;
    text-transform: capitalize;
    position: relative;
    bottom: 27px;
    left: 60px;
}

header a{
    text-decoration: none;
    color: #ffffff;
}

header a:hover {
    color: purple;
}

.navigation ul {
    display: flex;
    list-style: none;
}

.navigation li {
    margin-left: 30px;
}

section {
    padding: 200px 200px ;
}

.main {
    background-image:url(./img/photo-1521590832167-7bcbfaa6381f.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    /* margin-top: 20px; */
}   

.main h1 {
    display: inline-block;
    width: fit-content;
    /* margin: 15px; */
}

.main h1::first-line {
    color: rgb(3, 37, 32);
    font-size: 1.5em;
}

.main h3::first-line {
    color: rgb(3, 37, 32);
    font-size: 1.5em;
}

/* .social-icons a {
    color: #fff;
    font-size: 2.0em;
    font-weight: 30px;
    text-decoration: none;
    padding-right: 30px;
} */

/* .main button {
    display: inline-block;
    width: fit-content;
    color: #fff;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    margin: 15px;
    transition: 0.5s ease;
}

.main button:hover {
    color: #0a49f6;
    transform: scale(1.1);
}

.projects {
    background-color: #000016;
}

.projects .content {
    margin-top: 30px;
    flex-direction: row;
}

.project-card {
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 17em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.5s ease;
}

.project-card:hover {
    transform: scale(1.1);
}

.project-card:hover .project-image{
    opacity: 0.9;
}

.project-image img{
    width: 100%;
}

.project-description {
    padding: 1em;
}

.project-category {
    font-size: 1em;
    color: black;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 800;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: #3a6cf4;
}

.more-details:hover {
    color: #601cfc;
} */