/* /* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

* {
    font-family: 'Cairo', sans-serif;
    box-sizing: border-box;
    /* scroll-behavior: smooth; */
    margin: 0px;
    padding: 0px;
}

:root {
    --main_color: red;
    --main_padding: 20px;
}

header {
    background-color: gray;
    width: 100%;
    position:sticky;
    top: 0px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

header div{
    width: 17.6%;
}

.page-title {
    display: flex;
    width: 15.5%;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
}

.logo {
    width: 50px;
    height: 45px;
}

header h1 {
    text-transform: capitalize;
}

header a{
    text-decoration: none;
    color: #ffffff;
}

header a:hover {
    color: purple;
}

.navigation {
    margin-right: 180px;
}

.navigation ul {
    display: flex;
    list-style: none;
}

.navigation li {
    margin-left: 20px;
}

/* section {
    padding: 200px 200px ;
} */

.main {
    /* background-image:url(./img/photo-1521590832167-7bcbfaa6381f.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center; */
    /* background-color: black; */
    padding: 166px 200px ;
    display: flex;
}   

.main h1 {
    display: inline-block;
}

.main h1::first-line {
    color: rgb(56, 202, 178);
    font-size: 1.5em;

}

.main h3 {
    display: inline-block;
    margin-top: 20px;
}

.main h3::first-line {
    color: rgb(56, 202, 178);
    font-size: 25.7px;
}


.main button {
    color: #fff;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-top: 40px;
    transition: 0.5s ease;
}

.main button:hover {
    color: #0a49f6;
    transform: scale(1.1);
}

.social-icons a {
    color: rgb(139, 10, 10);
    font-size: 2.0em;
    font-weight: 30px;
    text-decoration: none;
    padding-right: 30px;
}

.service {
    background-color: #040430;
    display: flex;
    flex-flow: row, nowrap;
}

.service-card {
    background-color: #fff;
    width: 15.70em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 20px;
    padding: 25px;
    margin: 100px auto 155px;
    transition: 0.7s ease;
} 

.service-card:hover {
    transform: scale(1.1);
}

.service-image img {
    width: 100%;
}

.service-description {
    padding: 1em;
}

.service-title {
    /* display: flex; */
    /* justify-content: space-between; */
    text-transform: uppercase;
    margin-top: 10px;
    padding-left: 32px;
}

.project-card {
    background-color: #fff;
    width: 15.70em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 20px;
    padding: 25px;
    margin: 70px auto ;
    transition: 0.7s ease;
} 

.project-card:hover {
    transform: scale(1.1);
}

.project-image img {
    width: 100%;
}

.project-description {
    padding: 1em;
}

.project-category {
    font-size: 1em;
    color: black;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    /* font-size: 800; */
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: black;
}

.more-details:hover {
    color: rebeccapurple;
}

