/* Element styling */

/*Target All Paragraphs*/
/* p {
    color: green;
}
p {
    color: red;
} */

/* ################################ */
/* ################################ */
/* ################################ */

/* Name Conventions And Rules */
/* ._test {
    color: red;
}
.user-test {
    color: red;
} */

/* ################################ */
/* ################################ */
/* ################################ */

/* 05 - Background – Color, Image, Repeat */

/* div {
    background-color: red; /* Color Name */
    /* background-color: rgb(0 0 0 / 50%); /* Red, Green, Blue, Alpha Channel */
    /* background-color: #FF0000; /* Color Hex Code */
    /* background-image: url("../imgs/learn-programming.png"); */ 
    /* background-repeat: no-repeat; } */

/* <!-- ################################ --> */
/* <!-- ################################ --> */
/* <!-- ################################ --> */

/* 06 - Background – Attachment, Position, Size */

/* div { */
    /* background-color: red; /* Color Name */
    /* background-color: rgb(0 0 0 / 50%); Red, Green, Blue, Alpha Channel */
    /* background-color: #FF0000; Color Hex Code */ 
    /* background-image: url("../imgs/learn-programming.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top;
    background-size: auto;
} */

/* <!-- ################################ --> */
/* <!-- ################################ --> */
/* <!-- ################################ --> */

/* Padding */

/* div {
    background-color: #DDD; */

    /* Top Right Bottom Left */
    /* 10px 10px 10px 10px */
    /* padding: 10px; */

    /* Top Right Bottom Left */
    /* 10px 20px 10px 20px */
    /* padding: 10px 20px; */

    /* Top Right Bottom Left */
    /* 10px 20px 15px 20px */
    /* padding: 10px 20px 15px; */

    /* padding-bottom: 10px;
    padding-top: 10px;
} */

/* <!-- ################################ --> */
/* <!-- ################################ --> */
/* <!-- ################################ --> */

/* Margin */

/* div {
    background-color: #DDD;
    padding: 10px;
    width: 70%;
    margin: auto;
} */

/* <!-- ################################ --> */
/* <!-- ################################ --> */
/* <!-- ################################ --> */

/* 09 - Border */

/* div {
    background-color: #DDD;
    padding: 10px;
    width: 70%;
    margin: auto;
    border-width: 10px;
    border-color: red;
    border-style: solid;
    border: 10px solid red;
}    */

/* <!-- ################################ --> */
/* <!-- ################################ --> */
/* <!-- ################################ --> */

/* 10 - Outline */

/* div {
    background-color: #DDD;
    width: 300px;
    padding: 10px;
    outline: 10px solid red;
    border: 10px solid blue;
} */

/* <!-- ################################ --> */
/* <!-- ################################ --> */
/* <!-- ################################ --> */

/*  */



/* <!-- ################################ --> */
/* <!-- ################################ --> */
/* <!-- ################################ --> */

/*  */



/* <!-- ################################ --> */
/* <!-- ################################ --> */
/* <!-- ################################ --> */

